@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 20px;
}
button{
  background-color: rgb(33, 144, 236);
  color: white;
  padding: 15px 30px;
  font-weight: bold;
  font-size: 30px;
  border-radius: 8px;
}